<ion-content padding>
  <ion-row>
    <ion-col col-6>
      <h3 class="score">Score: </h3>
    </ion-col>

    <ion-col col-6>
      <h3 class="timer">Timer: {{timer}}</h3>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col *ngFor="let ingredient of recipe">
      <h1 class="top-number">{{ingredient}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let ingredient of userRecipe">
      <h1>{{ingredient}}</h1>
    </ion-col>
  </ion-row>

<ion-grid>
  <ion-row>
    <ion-col col-3>
      <!--button full large ion-button (click)="onClick(numbers[0])" [disabled]="disableBtnFlag">{{numbers[0]}}</button-->
      <button full large ion-button (click)="onClick1()">Potato</button>
    </ion-col>
    <ion-col col-3>
      <!--button full large ion-button (click)="onClick(numbers[1])" [disabled]="disableBtnFlag">{{numbers[1]}}</button-->
      <button full large ion-button (click)="onClick2()">Carrot</button>
    </ion-col>
    <ion-col col-3>
      <!--button full large ion-button (click)="onClick(numbers[2])" [disabled]="disableBtnFlag">{{numbers[2]}}</button-->
      <button full large ion-button (click)="onClick3()">Tomato</button>
    </ion-col>
    <ion-col col-3>
      <!--button full large ion-button (click)="onClick(numbers[3])" [disabled]="disableBtnFlag">{{numbers[3]}}</button-->
      <button full large ion-button (click)="onClick4()">Onion</button>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-list>
    <button 
    ion-button full 
    color="secondary"
    (click)="onSubmit()"
    *ngIf="!isReset()"
    >Submit</button>

    <button
    ion-button full
    color="danger"
    (click)="onReset()"
    *ngIf="isReset()"
    >Reset
    </button>
  </ion-list>
  <h1 *ngIf="showResultFlag">{{resultOfGame}}</h1>
</ion-content>
