page-number-game {
    h1{
        text-align: center;
    }

    .timer{
        text-align: right;
    }

    .score{
        text-align: left;
    }

    .top-number{
        font-weight: bold;
    }
}
