<ion-header>
  <ion-navbar>
    <ion-title>
      Number-Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <h1>{{topNum}}</h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12>
      <h1>{{sumOfNum}}</h1>
    </ion-col>
  </ion-row>

<ion-grid>
  <ion-row>
    <ion-col col-3>
      <button full large ion-button (click)="onClick(numbers[0])" [disabled]="disableBtnFlag">{{numbers[0]}}</button>
    </ion-col>
    <ion-col col-3>
      <button full large ion-button (click)="onClick(numbers[1])" [disabled]="disableBtnFlag">{{numbers[1]}}</button>
    </ion-col>
    <ion-col col-3>
      <button full large ion-button (click)="onClick(numbers[2])" [disabled]="disableBtnFlag">{{numbers[2]}}</button>
    </ion-col>
    <ion-col col-3>
      <button full large ion-button (click)="onClick(numbers[3])" [disabled]="disableBtnFlag">{{numbers[3]}}</button>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-list>
    <button 
    ion-button full 
    color="secondary"
    (click)="onSubmit()"
    *ngIf="!isReset()"
    >Submit</button>

    <button
    ion-button full
    color="danger"
    (click)="onReset()"
    *ngIf="isReset()"
    >Reset
    </button>
  </ion-list>
  <h1 *ngIf="showResultFlag">{{resultOfGame}}</h1>
  <h1 *ngIf="showTimerFlag">{{diff}} secs</h1>
  <h1 id="time"></h1>
  <h2>{{timer}}</h2>
</ion-content>
