<ion-header>
  <ion-navbar>
    <ion-title>
      Number-Game
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{topNum}}</h1>
  <h2>{{sumOfNum}}</h2>
  <button ion-button (click)="onClick(num1)">{{num1}}</button>
  <button ion-button (click)="onClick(num2)">{{num2}}</button>
  <button ion-button (click)="onClick(num3)">{{num3}}</button>
  <button ion-button (click)="onClick(num4)">{{num4}}</button>

  <ion-list>
    <button 
    ion-button full 
    color="secondary"
    (click)="onSubmit()"
    *ngIf="!isReset()"
    >Submit</button>

    <button
    ion-button full
    color="danger"
    (click)="onReset()"
    *ngIf="isReset()"
    >Reset
    </button>
  </ion-list>
  <h1>{{resultOfGame}}</h1>
  <h1>{{diff}} secs</h1>
</ion-content>
